<form (ngSubmit)="onSubmit()" class="row">
  <div class="col-lg-4">
    <div class="row align-items-center">
      <div class="col col-lg-8">
        <mat-form-field>
          <mat-label>Search Events</mat-label>
          <input name="input" [(ngModel)]="search" matInput value="">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-auto">
        <button type="button" mat-mini-fab color="primary" (click)="toggleMap()" style="margin-bottom: 1em;">
          <mat-icon>location_searching</mat-icon>
        </button>
      </div>
    </div>
    
  </div>
  <div class="col-lg-8">
    <div class="row align-items-center justify-content-end">
      <div class="col col-lg-auto">
        <mat-form-field>
          <input name="startDate" [(ngModel)]="startTime" matInput [matDatepicker]="start" placeholder="Start time">
          <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-auto" class="d-none d-sm-flex">
        <mat-icon style="margin-bottom: .5em;" matSuffix>arrow_forward</mat-icon>
      </div>
      <div class="col col-lg-auto">
        <mat-form-field>
          <input name="endDate" [(ngModel)]="endTime" matInput [matDatepicker]="end" placeholder="End time">
          <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
          <mat-datepicker #end></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-auto">
        <button mat-flat-button color="primary" style="margin-bottom: 1em;">Search</button>
      </div>
    </div>
  </div>
</form>

