@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.6em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  margin-right: .8em;
  border-radius: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

