<div class="row align-items-center">
  <dir class="col-12 col-lg-6">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput readonly name="startTime" placeholder="Start time" [(ngModel)]="event.startTime">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput readonly name="endTime" placeholder="End time" [(ngModel)]="event.endTime">
        </mat-form-field>
      </div>
    </div>
    <mat-form-field>
      <textarea matInput readonly name="address1" placeholder="Address">{{event.address1}}&#13;&#10;{{event.address2}}</textarea>
    </mat-form-field>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput readonly name="city" placeholder="City" [(ngModel)]="event.city">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput readonly name="postcode" placeholder="Postcode" [(ngModel)]="event.postcode">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput readonly name="publisher" placeholder="Publisher" [(ngModel)]="event.username">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput readonly name="publishedOn" placeholder="Published on" [(ngModel)]="event.timestamp">
        </mat-form-field>
      </div>
    </div>
  </dir>
  <dir class="col-12 col-lg-6">
    <app-map></app-map>
  </dir>
</div>
<mat-form-field appearance="fill">
  <mat-label>Description</mat-label>
  <textarea matInput readonly name="desription" rows="4" [(ngModel)]="event.description"></textarea>
</mat-form-field>

<div class="row justify-content-center mt-3">
  <div class="col-auto image-container" *ngFor="let image of event.images">
    <img class="gallery-image" src="{{image.dataURL}}" />
  </div>
</div>
