{{diagnostic}}
<div class="container">
  <h1>Add Story to Event: </h1>
  <form (ngSubmit)="onSubmit()" #storyForm="ngForm">
    <div class="form-group">

      <label for="event">Event</label>
      <!--    
      <select ng-options="event.name for event in events">
      </select>-->

      <label for="Name">Name</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="story.name" name="name"
      #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
       class="alert alert-danger">Name required</div>

      <label for="Description">Description</label>
      <input type="text" class="form-control" id="description" required
      [(ngModel)]="story.description" name="description"
      #description="ngModel">
      <div [hidden]="description.valid || description.pristine"
        class="alert alert-danger">Description required
      </div>
      
      <label for="images">Images</label>
      <!--
      <input type="text" class="form-control" id="images" required
      [(ngModel)]="story.images" name="images"
      #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">Name required
      </div>-->

    </div>
    <button type="submit" class="btn btn-success" 
    [disabled]="!storyForm.form.valid">Submit</button>
  </form>
</div>