<div class="container">
  <h1>Add story to event</h1>
  <form (ngSubmit)="onSubmit()" #storyForm="ngForm">
    <mat-form-field>
      <input matInput required name="name" placeholder="Story name"  [(ngModel)]="story.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput required name="desription" rows="4" [(ngModel)]="story.description"></textarea>
    </mat-form-field>

    <div class="card">
      <div class="card-body">
        <button mat-button type="button" *ngIf="!videoActive" (click)="enableCamera()">Take picture</button>
        <button mat-button type="button" *ngIf="videoActive" (click)="disableCamera()" color="warn">Close camera</button>
        <div [hidden]="!videoActive" class="capture-container mt-3">
          <video autoplay id=camVid #camVid (click)="snap()"></video>
          <canvas [hidden]="!imgData" (click)="unsnap()" id=camCanvas #camCanvas></canvas>
        </div>
        <div [hidden]="!videoActive" class="row align-items-center">
          <div class="col">Click or tap to take a picture, again to discard it.</div>
          <div class="col-auto">
            <button [disabled]="!imgData" (click)="saveImage()" type="button" mat-flat-button color="primary">Save</button>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-auto image-container" *ngFor="let image of images">
            <img class="gallery-image" src="{{image.dataURL}}" />
            <button (click)="removeImage($event)" mat-mini-fab type="button" class="clear-button" color="warn">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="!images.length" class="alert alert-info mb-0">No image selected</div>
      </div>
    </div>

    <button type="submit" mat-flat-button color="primary" [disabled]="!storyForm.form.valid">Submit</button>
  </form>
</div>