<div class="container">
  <h1>Create New Event</h1>
  <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
    <div class="form-group">
      <label for="Name">Event Name</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="event.name" name="name"
      #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
       class="alert alert-danger">Name required</div>
       
      <label for="Description">Description</label>
      <input type="text" class="form-control" id="description" required
      [(ngModel)]="event.description" name="description"
      #description="ngModel">

      <label for="Location">Location</label>
      <input type="L.LatLng" class="form-control" id="location" required
      [(ngModel)]="event.location" name="location" readonly="true" value="formMap.location"
      #location="ngModel">
      <app-map-form #formMap (messageEvent)="receiveMessage($event)"
      ></app-map-form>

      <label for="Keywords">Key Words (comma seperated?)</label>
      <input type="text" class="form-control" id="keys" required
      [(ngModel)]="event.keywords" name="keywords"
      #keywords="ngModel">
    </div>
    <div class="form-group upload">
      <input type="file"
              id="file"
              (change)="handleFileInput($event.target.files)">
      <button class="btn">Upload a file</button>
    </div>
    <button type="submit" class="btn-success" 
    [disabled]="!eventForm.form.valid">Submit</button>
  </form>
</div>